.Respostas{
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 6px black;
}
.Input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    margin-right: 5px;
}

.Input:focus{
    outline: 0;
}

.botoes{
    border: 0px;
    padding: 5px;
    margin: 5px;
}

.b{
    border: 1px solid rgb(12, 12, 48);
    border-radius: 10px;
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px;
}
.b:hover{
   background-color: rgb(184, 183, 183);
   transition: 0.5s;
}
.Renderizacao{
}